<nav>
    <div class="container">
        <div class="header-tittle">
            
            <a routerLink="/welcome" class="header-tittle-item"><img src="../assets/img/heart.svg" alt="Home"></a>
        </div>
        <div class="header">
            <ul>
                <li class="link"><a routerLink="/welcome">Tutorial</a></li>
                <li class="link"><a routerLink="/stretchings">Estiramientos</a></li>
                <li class="link"><a routerLink="/welcome">Mindfulness</a></li>
            </ul>

        </div>
    </div>
</nav>

<!-- Heart image by:
Icons made by Pixel perfect from https://www.flaticon.com
-->