<h2 mat-dialog-title class="tittle"><i>¿Cómo usar las sesiones guiadas?</i></h2>
<mat-dialog-content class="mat-typography">
  <h2 class="subtittle"><i>Paso 1:</i> Permite el acceso a tu webcam</h2>
  <img src="../assets/img/webcam.svg" alt="Webcam" class="image_tittle">
  <img src="../assets/img/eyes.svg" alt="Eyes" class="image_tittle">
  <p>Necesitamos que nos des acceso a la cámara. Así nuestra inteligencia artificial podrá verte y decirte lo increíble que eres haciendo deporte. ¡Por cierto! Puedes estar tranquilo. Nadie va a espiarte. De hecho las imágenes nunca salen de tu ordenador. ¡La privacidad es un derecho!</p>

  <h2 class="subtittle"><i>Paso 2:</i> Realiza las poses durante el tiempo establecido</h2>
  <img src="../assets/img/stretching-exercises.svg" alt="Exercices" class="image_tittle">
  <img src="../assets/img/clock.svg" alt="Clock" class="image_tittle">
  <p>A la derecha de la pantalla verás la pose y el tiempo que debes mantenerla. Si dejas de mantenerla el reloj vuelve al valor inicial. No todo iba a ser fácil. ¡A por todas!</p>

  <h2 class="subtittle"><i>Paso 3:</i> Diviertete y se la mejor versión de tí</h2>
  <img src="../assets/img/heart.svg" alt="Heart" class="image_tittle">
  <img src="../assets/img/brain.svg" alt="Brain" class="image_tittle">
  <p>La tecnología se supera. Ahora es tu turno. Demuestra lo que vales. Pero sobretodo diviertete, no hay mejor manera de mantenerse motivado. Recuerda, la mente y el cuerpo son uno. "Mens sana in corpore sano."
  </p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="warn" class="button">Entendido</button>
</mat-dialog-actions>