<ng-particles id="tsparticles" [options]="particlesOptions" (particlesLoaded)="particlesLoaded($event)" (particlesInit)="particlesInit($event)"></ng-particles>

<div class="container">
    <button mat-fab color="warn" aria-label="Example icon button with a home icon" class="button" routerLink="/menu">
        <mat-icon>home</mat-icon>
    </button>
    
    <p class="tittle">¡Felicidades!</p>
    <p class="tittle">Has sudado la gota gorda.</p>
    <p class="tittle">Hecho y dicho.</p>
    <br>
    <br>
    <img src="../assets/img/medal.svg" alt="Medal" class="image_tittle">
</div>
