.example-card {
    max-width: 500px;
    margin: auto;
    margin-top: 12%;

  }

// Page Styles
.container {
    padding: 0rem;
    background-color: white;
    height: calc(100% - 44px);
}

.right {
    display: inline-block;
    width: 50%;
    height: 100%;
}

.left {
  display: inline-block;
  width: 50%;
  height: 100%;
}

.button{
    background-color: rgb(55, 122, 222);
  }