<app-header></app-header>
<div class="container">
    <div class="left">
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Estiramientos</mat-card-title>
              <mat-card-subtitle>Alivia la tensión del día.</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/img/stretchings.jpg" alt="Photo of a woman stretching">
            <mat-card-content>
              <p>
                Mejora tu flexibilidad y la calidad de tus futuros entrenamientos. Si los músculos están relajados, tendrás una mejor calidad de vida. Y dormirás mejor. ¿Preparado para mejorar? La IA te ayudará.
              </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" class="button" routerLink="/menu">Comenzar sesión</button>
            </mat-card-actions>
          </mat-card>
    </div>
    
    <div class="right">
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Yoga</mat-card-title>
              <mat-card-subtitle>Secuencias clásicas. Para cuerpo y mente.</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/img/yoga.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                Práctica tu técnica a través de secuencias clásicas de yoga gracias al potente motor neuronal que te ayudará a mejorar. ¿Preparado? Respira. Calma tu mente. Y dale al botón de comenzar.              </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" class="button" routerLink="/menu">Comenzar sesión</button>
            </mat-card-actions>
          </mat-card>
    </div>
</div>


