.container {
    padding: 3rem;
    padding-left: 4rem;
    padding-right: 2rem;
    background-image: url("../../assets/img/blob.svg");
    background-repeat: no-repeat;
    background-size: 1400px;
    background-position: 527px -500px;
    height: calc(100vh - 6rem);
}

.button{
    position: absolute;
    top: 15px;
    left: 25px;
    background-color: rgb(55, 122, 222);
}

.progress{
    position: absolute;
    top: 10px;
    right: 10px;
}

.image_progress{
    max-width: 100%;
    position: absolute;
    top: -500px;
    right: -500px;
    z-index: -1;
}

.right {
    display: inline-block;
    width: 50%;
    height: 100%;
    vertical-align: top;
    text-align: center;
}

.right_left{
    display: inline-block;
    width: 65%;
    height: 80%;
    vertical-align:top; 
}

.right_right{
    display: inline-block;
    width: 35%;
    height: 80%;
    vertical-align:top; 
}

.left {
  display: inline-block;
  position: relative;
  width: 50%;
  height: 100%;
}

.canvas{
    position: absolute;
    top: 15%;
    z-index: 2; // Seleciona la posición en profundidad
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.webcam{
    position: absolute;
    top: 15%;
    z-index: 1;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.image-exercise{
    max-height: 60%;
    width: 100%;
}

.tittle{
    color: White;
    font-family: Helvetica, sans-serif;
    font-size: 430%;
    font-weight: bold;
    margin-bottom: 10%;
    line-height: 1;
}

.little_progress{
    display: inline-block;
    margin-top: 50%;
}
