// Page Styles
.container {
    padding: 7rem;
    background-color: Black;
    height: calc(100vh - 14rem);
}

.right {
    display: inline-block;
    width: 50%;
    height: 100%;
    vertical-align: top;
}

.left {
  display: inline-block;
  width: 50%;
  height: 100%;
  vertical-align: top;
}

.tittle{
    color: White;
    font-family: Helvetica, sans-serif;
    font-size: 430%;
    font-weight: bold;
    margin-top: 21%;
    margin-bottom: 10%;
    line-height: 1;
}

.description{
    color: White;
    font-family: Helvetica, sans-serif;
    font-size: 135%;
    line-height: 1.1;
    margin-bottom: 5%;
    //text-align: justify;
}

.button{
  background-color: rgb(55, 122, 222);
}

// Animacion del corazon
.heart {
    margin-top: 40%;
    left: 50%;
    background-color: rgb(235, 32, 32);
    width: 100px;
    height: 100px;
    position: relative;
    transform: rotate(45deg);
    animation: animateHeart 1s infinite;

    &::before, &::after {
        content: "";
        width: 100px;
        height: 100px;
        background-color: rgb(235, 32, 32);
        position: absolute;
        border-radius: 50%;
    }

    &::before {
        left: -50px;
    }

    &::after {
        top: -50px;
    }
}
  
  @keyframes animateHeart {
    0% {
      transform: rotate(45deg) scale(0.8);
    }
    5% {
      transform: rotate(45deg) scale(0.9);
    }
    10% {
      transform: rotate(45deg) scale(0.8);
    }
    15% {
      transform: rotate(45deg) scale(1);
    }
    50% {
      transform: rotate(45deg) scale(0.9);
    }
    100% {
      transform: rotate(45deg) scale(0.8);
    }
  }
