
.heart {
    background-color: rgb(235, 32, 32);
    width: 50px;
    height: 50px;
    position: relative;
    transform: rotate(45deg);
    animation: animateHeart 1s infinite;

    &::before, &::after {
        content: "";
        width: 50px;
        height: 50px;
        background-color: rgb(235, 32, 32);
        position: absolute;
        border-radius: 50%;
    }

    &::before {
        left: -25px;
    }

    &::after {
        top: -25px;
    }
}
  
  @keyframes animateHeart {
    0% {
      transform: rotate(45deg) scale(0.8);
    }
    5% {
      transform: rotate(45deg) scale(0.9);
    }
    10% {
      transform: rotate(45deg) scale(0.8);
    }
    15% {
      transform: rotate(45deg) scale(1);
    }
    50% {
      transform: rotate(45deg) scale(0.9);
    }
    100% {
      transform: rotate(45deg) scale(0.8);
    }
  }
  
  
// Page Styles
.container {
    padding: 5rem;
    background-color: Black;
    height: calc(100vh - 10rem);
}

.right {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
}

.left {
    position: absolute;
    top: 30%;
    left: 10%;
}

.tittle{
    color: White;
    font-family: Helvetica, sans-serif;
    font-size: 360%;
    font-weight: bold;
    margin-left: 1%;
}