<div class="container">
    <div class="left">
        <p class="tittle">Ya está aquí el futuro de la salud. Y de la IA.</p>
        <p class="description"><b>Una nueva experiencia de ejercicio impulsada por la Inteligencia Articial.</b>
                                   Descubre una forma revolucionaria de mantenerte en forma. Y de mejorar tu técnica.
                                   Por si fuera poco, respira y despeja tu cabeza con la sección Mindfulness.
                                   La IA avanza. Y tú con ella.</p>
        <button mat-raised-button color="primary" class="button">Empieza</button>
    </div>
    <div class="right">
        <div class="heart"></div>
    </div>
</div>